@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Amiri', serif;
    background: linear-gradient(135deg, #141e30, #243b55);
    color: white;
    direction: rtl;
    text-align: center;
}

/* الصفحة الرئيسية */
.home-container {
    padding: 100px 20px;
}

h1 {
    font-size: 40px;
    color: #ffd700;
    margin-bottom: 40px;
}

.card {
    background: rgba(255, 255, 255, 0.1);
    margin: 20px auto;
    padding: 30px;
    width: 300px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.5);
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: gold;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
}

.btn:hover {
    background: white;
}

/* صفحة القصيدة */
.poem-container {
    padding: 50px 20px;
}

.poem-box {
    max-width: 800px;
    margin: auto;
    background: rgba(255, 255, 255, 0.08);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(255, 215, 0, 0.4);
    font-size: 22px;
    line-height: 2;
    text-align: right;
}

pre {
    white-space: pre-wrap;
    font-family: 'Amiri', serif;
}

footer {
    margin-top: 60px;
    padding: 20px;
    border-top: 1px solid rgba(255,255,255,0.2);
    color: #ccc;
}
